<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.burt.android_sample_study">

    <!--jsondemo中需要使用的用戶權限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.burt.android_sample_study.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".recycler_view.RecyclerLayoutManagerChangeActivity"/>
        <activity
            android:name=".json_demo.JsonDemoActivity"/>
        <activity
            android:name=".recycler_view_long.SelectActivity"/>
        <activity
            android:name=".recycler_view_long.ListViewActivity"/>
        <activity
            android:name=".recycler_view_long.RecyclerViewActivity"/>
        <activity
            android:name=".recycler_view_custom_ui.CustomRvActivity"/>
        <activity
            android:name=".weekly_report.WeeklyReportActivity"/>
        <activity
            android:name=".weekly_report.WeeklyReportEditActivity"/>
        <!--MVP页面-->
        <activity
            android:name=".mvp_demo.UserLoginActivity"/>
        <!---->
        <activity
            android:name=".horizontal_scrollview.HorizontalScrollViewActivity"/>
        <!--项目周报界面-->
        <activity
            android:name=".project_report.ProjectReportActivity"/>
        <activity
            android:name=".project_report.ProjectReportEditActivity"/>

        <activity
            android:name=".tab_layout.TabLayoutActivity"/>
        <!--网络爬虫-->
        <activity
            android:name=".spider.SpiderTextViewActivity"/>
        <activity
            android:name=".spider.SpiderWebViewActivity"/>
        <activity
            android:name=".spider.SpiderSelectActivity"/>
        <!--BadgeView测试-->
        <activity
            android:name=".badge_view.BadgeViewActivity"/>
    </application>

</manifest>